<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <p>Here are our service project categories:</p>

    <ul>
        <% categories.forEach(category => { %>
            <li>
                <%= category.name %>
            </li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>